{% extends 'base.html' %}

{% block container %}
<div class="panel panel-default col-sm-8 blog-main">
    <div class="blog-header">
        <h3><b>文章详情</b></h3>
    </div>

    <div class="blog-post">
        <h4><b>{{ article.title }}</b></h4>
        <p class="blog-post-meta">作者: <a href="#">{{ article.author.username }}</a>&nbsp
            创作时间: {{ article.created_time|date:"Y-m-d" }}&nbsp文章类型:
            <a href="{% url 'articles_with_type' article.article_type.id %}">{{ article.article_type.type_name }} </a>&nbsp
            阅读数: {{ read_count }}&nbsp回复数: {{ comments|length }}</p>
        <hr>
        <div>
            {{ article.content|safe }}
        </div><!-- /.blog-post -->

        <!-- 上下篇导航 -->
        <nav aria-label="...">
            <ul class="pager">
                {% if prev_article %}
                <li class="previous"><a href="{% url 'article_detail' prev_article.id %}"><span
                        aria-hidden="true">&larr;</span>上一篇</a></li>
                {% else %}
                <li class="previous"><a href="#">无上一篇</a></li>
                {% endif %}

                {% if next_article %}
                <li class="next"><a href="{% url 'article_detail' next_article.id %}">下一篇<span
                        aria-hidden="true">&rarr;</span></a></li>
                {% else %}
                <li class="next"><a href="#"><span aria-hidden="true">&larr;</span>无下一篇</a></li>
                {% endif %}
            </ul>
        </nav>
        <!-- 评论列表区 -->
        <h3><b>评论列表(共{{ comments|length }}条)</b></h3>
        <hr>
        {% for comment in page_now %}
        <p><font size="4">
            {{ comment.user }}于{{ comment.comment_time }}说：{{ comment.text|safe }}
        </font><br>
        <hr>
        </p>
        {% empty %}
        暂无评论
        {% endfor %}
        {% if page_now %}
        {% include 'page_nav.html' %}
        {% endif %}
        <hr>
        <!-- 评论提交区 -->

        <form action="{% url 'add_article_comment' %}?from={{ request.get_full_path }}"
              method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <input class="btn btn-info pull-right" type="submit" value="提交">
        </form>
    </div>
</div>
{% include 'article/type_list.html' %}
{% endblock %}
